.ant-form-item-label > label {
  display: none;
}
.ant-btn {
  padding: 13px 168px;
  background-color: #a435f0;
  height: 48px;
  color: white;
}
.ant-btn:hover {
  background-color: #7521ad;
}
.ant-input {
  height: 48px;
  border: 1px solid black;
}
.ant-input-affix-wrapper {
  height: 48px;
  border: 1px solid black;
}
.ant-input-affix-wrapper > input.ant-input {
  height: 40px;
}

#prevBtn,
#prevBtn:hover,
#prevBtn:focus {
  display: flex !important;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 25%;
  right: -25px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
  border: white;
  background-color: black;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  border-radius: 100%;
  font-size: 20px;
  font-weight: 700;
}

#nextBtn,
#nextBtn:hover,
#nextBtn:focus {
  display: flex !important;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25%;
  right: -25px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
  border: white;
  background-color: black;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  border-radius: 100%;
  font-size: 20px;
  font-weight: 700;
}
