.show-more--content {
    mask-image: linear-gradient(#fff,#fff,rgba(255,255,255,0));
    overflow: hidden;
    max-height: 150px;
}
.show-less--content {
    height: max-content;
    overflow: hidden;
}
.ant-collapse-header-text 
{
    width: 100%;
}
.ant-breadcrumb a, .ant-breadcrumb li:last-child a, .ant-breadcrumb a:hover
{
    color: #cec0fd;
}
.ant-breadcrumb-separator
{
    color: white;
}
#course-trailer:hover #image-cover {
  background: linear-gradient(0deg,rgb(45, 45, 45),transparent);
  height: 200px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all .3s;
  width:  100%;
}
#course-trailer:hover #image-cover p {
    opacity: 1;
}
#course-trailer:hover #image-cover #trailer-btn
{  
    display: block;
    top: 50%;
    left: 50%;
    opacity: 1;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%,-50%);
}