.ant-tabs-ink-bar {
    background-color: black;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn 
{
    color: black;
}
.ant-tabs-tab-btn {
    color: gray;
}
#category-header {
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
} 
