#number-item-cart
{
    position: absolute;
    top: -10px;
    right: -10px;
}
#cart-header {
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol
} 