.ant-carousel .slick-next,.ant-carousel .slick-next:hover, .ant-carousel .slick-next:focus  {
    display: flex !important;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: -25px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: white;
    border: white;
    background-color: black;
    border: 1px solid #6a6f73;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    border-radius: 100%;
    font-size: 20px;
    font-weight: 700;
}
.ant-carousel .slick-dots 
{
    display: none !important;
}
#featured-course:hover
{
    background-color: #f7f9fa ;
}